*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css registro y login  */
body{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.contenedor{
    width: 100%;
    display: grid;
    gap: 8px;
    padding: 3.5em 1.5em;
    
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 82%;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
        color: #1a2537;;
    font-weight: 600;
}
.link:hover{
    color: cadetblue;
}

.form_input--message{height: 80%;
    resize: auto;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}