*{margin: 0;
padding: 0;}
.img{float: right;}
#rojito{text-align: center;
    color :red;}
#colorp{background-color: #ebece6b7;}
.tamano{width: 70%;
height: 70px;}
#tamano{width: 100%;
        height: 500px;
        align-items: center;
       }
#item{align-items: center;}
#black{color: black;}

.carousel-item{    height: 500px;
    width: 100%;
    align-items: center;}

.carousel-control-prev-icon, .carousel-control-next-icon {
    top: 10%;
    height: 5px;
    width: 5px;
    margin-left: 10%;
    margin-right: 20%;
    outline: black;
    background-color: #7e6099;
    background-size: 50%, 50%;
    border-radius: 20%;
    border: 1px solid black;
    padding: 20%;

    
}

#icono{width: 100px;
    height: 100px;}
.red-text{color: #7e6099}
.centro{text-align: center;
align-items: center;
align-content: center;
align-self: center;}

header{height: 100%;
background-color: #7e6099;
height: 70px;}
.ancho{width: 80%;
height: 70px;
background-color: #7e6099;
margin: auto;}
.logo{width: 30%;
height: 70px;
background-color: #7e6099;
float: left;
padding-top: 10px;
box-sizing: border-box;}
.logo p a{
    color: #ebece6b7;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
 
}
nav{width: 50%;
height: 70px;
background-color: #7e6099;
float: left;
text-align: right;
padding-top: 24px;
box-sizing: border-box;}
nav ul li { display: inline;
}
nav ul li a{color: #ebece6b7;
font-size: 13px;
text-decoration: none;
text-transform: uppercase;
padding-left: 15px;
font-weight: bold;
letter-spacing: 1px;}
.icono{width: 20%;
    height: 70px;
    background-color: #7e6099;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
float: inline-start;}

.icono img{width: 16%;
height: 30px;
color: #ebece6b7;
font-size: 40px;
text-decoration: none;
font-weight: bold;
}
.mascota img{width: 100%;
    height: 250px;
    color: #ebece6b7;
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    }
.tarjeta {border-radius: 10%;
    position: relative;
    width: 200;
    height: 250px;
    background-color: #7e6099;
    box-shadow: 0 0px 0px;
    margin: 20px;
    
    }
    .tarjeta .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 30px;
        overflow: hidden;
        transition: 0.5s;}
    .tarjeta .front{
        transform: perspective(600px) rotateY(0deg);
        box-shadow: 0 5px 10px black;}
    .tarjeta .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        top: 80%;
        height: 50px;
        line-height: 50px;
        color: rgb(255, 255, 255);
        text-align:center;
        background: rgba(0, 0, 0, 0.3);}
    .tarjeta .back{
        transform: perspective(600px) rotateY(180deg);
        background: #7e6099;
        padding: 15px;
        color:rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;}
    .tarjeta .back .link{    
        height: 50px;
        line-height: 50px;}
    .tarjeta .back .link a{
        color: rgb(0, 0, 0);}
    .tarjeta .back h3{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    margin-top: 0%;}
    .tarjeta .back p{letter-spacing: 1px;}
    .tarjeta:hover .front{transform: perspective(600px) rotateY(180deg);}
    .tarjeta:hover .back{transform: perspective(600px) rotateY(360deg);}
    .footer{background-color: #7e6099;
    width: 100%;}
    .foto{width: 100px;
height: 100px;
margin: auto;}
     .foto img{width: 100px;}
    .contfoo{background-color: #7e6099;
        width: 100%;
        height: 300px;
        margin: auto;
    display: flex;}
    .col1{background-color: #7e6099;
    width: 30%;
    height: 30%;
float: left;
margin: 20px;}
    .col1  h1{
        margin-top: 10%;
        width: 300px;
        height: 30%;
        color: #ebece6b7;
        font-size: 30px;
        text-decoration: none;
        padding-left: 14px;
        font-weight: bold;
    margin-bottom: 15px;}
        .col1  p {width: 300px;
            height: 10%;
            color: #ebece6b7;
            font-size: px;
            text-decoration: none;
            padding-left: 15px;
            font-weight: bold;
        margin-bottom: 10px;
    margin-top: 14%;}
       
    .col2{background-color: #7e6099;
        width: 30%;
        height: 30%;
    margin: 20px;}
        .col2 h1{
            margin-top: 10%;
            width: 300px;
            height: 30%;
            color: #ebece6b7;
            font-size: 30px;
            text-decoration: none;
            padding-left: 14px;
            font-weight: bold;
        margin-bottom: 15px;}
        .col2 p{width: 300px;
            height: 10%;
            color: #ebece6b7;
            font-size: px;
            text-decoration: none;
            padding-left: 15px;
            font-weight: bold;
        margin-bottom: 15px;}
    .col3 img{width: 40px;
    height: 40px;}    
    .col3{background-color: #7e6099;
         width: 30%;
         height: 30%;
        margin: 20px;
    position: absolute;}
        .col3  h1{
            margin-top: 10%;
            width: 300px;
            height: 30%;
            color: #ebece6b7;
            font-size: 30px;
            text-decoration: none;
            padding-left: 14px;
            font-weight: bold;
        margin-bottom: 15px;}

    .col3 .fb{
        display: flex;
        align-items: center;}  
        .col3 .fb p{width: 10px;
            height: 10%;
            color: #ebece6b7;
            font-size: px;
            text-decoration: none;
            padding-left: 15px;
            font-weight: bold;
        margin-bottom: 19px;}  
    .col3 .yt{
        display: flex;
        align-items: center;}
    .col3 .yt p{width: 10px;
        height: 10%;
        color: #ebece6b7;
        font-size: px;
        text-decoration: none;
        padding-left: 15px;
        font-weight: bold;
        margin-bottom: 15px;}  
    .col3 .insta{
        display: flex;
    align-items: center;}
    .col3 .insta p{width: 10px;
        height: 10%;
        color: #ebece6b7;
        font-size: px;
        text-decoration: none;
        padding-left: 15px;
        font-weight: bold;
    margin-bottom: 15px;}
    .final{background-color: #7e6099;
width: 1200;
height: 600;}
.copy{background-color: #7e6099;
width: 600;
height: 100px;}
.poli{background-color: #7e6099;
width: 600;
height: 100;}
@media screen and(max-width: 800px){
    .col1{
    width: 90%;
     height: 30px;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 30px;}}

    
    /* css registro y login  */
    .contenedor{
        width: 100%;
        padding: 15;
    }
    .formulario{
        background: #fff;
        margin-top: 150px;
        padding: 3px;
    }
    h1{
        text-align: center;
        color: #1a2537;
        font-size: 40px;
    }
    input[type="text"],
    input[type="password"]{
        font-size: 82%;
        width: 82%;
        padding: 10px;
        border: none;
    }
    .input-contenedor{
        margin-bottom: 15px;
        border: 1px solid #aaa;
    }
    .icon{
        min-width: 50px;
        text-align: center;
        color: #999;
    }
    .button{
        border: none;
        width: 100%;
        color: white;
        font-size: 20px;
        background: #1a2537;
        padding: 15px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover{
        background: cadetblue;
    }
    p{
        text-align: center;
    }
    .link{
        text-decoration: none;
            color: #1a2537;;
        font-weight: 600;
    }
    .link:hover{
        color: cadetblue;
    }
    
    .form_input--message{height: 80%;
        resize: auto;
        padding: 1.8em 1em;
        margin-bottom: .5em;
    }
    
    @media(min-width:768px)
    {
        .formulario{
            margin: auto;
            width: 500px;
            margin-top: 150px;
            border-radius: 2%;
        }
    }
